<p-panel class="p-1" header="Pipes Numéricos">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en Common Modules</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Ventas netas" subheader="del presente año">
      {{ (totalSells + 1235 )| number: '1.2-2' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas brutas" subheader="del presente año">
      {{ totalSells | currency: 'EUR' : 'symbol-narrow': '1.4-4' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancia porcentual" subheader="del presente año">
      {{ percent | percent : '1.2-2' }}
    </p-card>
  </div>
</div>
