<p-panel class="p-1" header="Pipes Básicos">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en Common Modules</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="fecha">
      <ol>
        <li>Fecha</li>
        <li>Fecha | date</li>
        <li>Fecha | date:'short'</li>
        <li>Fecha | date:'long'</li>
        <li>Fecha | date:'MMMM'</li>
        <li>Fecha | date:'MMMM dd, yyyy'</li>
      </ol>
      <hr>
      <ol>
        <li>Fecha | date: 'long': 'GMT-6'</li>
        <li>Fecha | date: 'long': 'GMT-4'</li>
        <li>Fecha | date: 'long': '':'es-ES'</li>
        <li>Fecha | date: 'long': '':'fr-CA'</li>
      </ol>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="titlecase">
      <ol>
        <li>{{customDate}}</li>
        <li>{{customDate | date }}</li>
        <li>{{customDate | date: 'short' }}</li>
        <li>{{customDate | date: 'long' }}</li>
        <li>{{customDate | date: 'MMMM' }}</li>
        <li>{{customDate | date: 'MMMM dd, yyyy' }}</li>
      </ol>
      <hr>
      <ol>
        <li>{{customDate | date: 'long': 'GMT-6'}}</li>
        <li>{{customDate | date: 'long': 'GMT-4'}}</li>
        <li>{{customDate | date: 'long': '': 'es-ES'}}</li>
        <li>{{customDate | date: 'long': '': 'fr-CA'}}</li>
      </ol>
    </p-card>
  </div>
</div>
